//normalize
@import "./normalize.scss";

*,
*::after,
*::before{
	box-sizing: border-box;
}

//colors

$red: #E01F3D;
$body: #666666;
$black: #292929;
$white: #fff;

$baseFontSize: 16px;

//breackpoints
$tablets: 768px;
$mobile: 480px;

@import "./components/_media.scss";
@import "./components/_layout.scss";



html{
    font-family: 'Play', sans-serif;
}


a{
    text-decoration: none;
    color: black;
}

p{
    margin: 0px;
    padding: 0px;
}

.container{
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;

    &--footer, &--header{
        flex-direction: row;
        height: 100%;
        align-items: center;
        justify-content: space-between;
    }
}

ul{
    margin: 0px;
    padding: 0px;
}

li{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

h1, h2{
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.25rem;
    margin: 0px;
    padding: 0px;
    
    @include mobile{
        font-size: rem(32px);
        line-height: rem(36px);
    }
}


input, label{
    display: block;
}

body{
    background-color: #F5F5F5;
}

.section{
    min-height: 100vh;
}

.button{
    border: none;
    display: inline-block;
    padding: 1.125rem 2.56rem;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.125rem;
    background-color: $red;
    color: white;
    border-radius: 100px;
    text-transform: uppercase; 
}

@media (max-width: 768px){
    .container{
        width: 95%;
    }
}

//setups
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap");





//components

@import "./components/_hero.scss";
@import "./components/_benefits.scss";
@import "./components/_reviews.scss";
@import "./components/_form.scss";
@import "./components/_fixed-menu.scss";
@import "./components/_map.scss";
@import "./components/_footer.scss";
@import "./components/_socials.scss";
@import "./components/_svg.scss";
@import "./components/_extended-menu.scss";
@import "./components/_slider.scss";
@import "./components/_team.scss";
@import "./components/_modal.scss";
@import "./components/_colors.scss";
