//normalize
@import "normalize.scss";


//colors

$red: #E01F3D;
$body: #666666;
$black: #292929;
$white: #fff;


a{
    text-decoration: none;
    color: black;
}

p{
    margin: 0px;
    padding: 0px;
}

.container{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;

    &--flex{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }
}

ul{
    margin: 0px;
    padding: 0px;
}

li{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

h1{
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
}

h2{
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    margin: 0px;
    padding: 0px;
}


input, label{
    display: block;
}

body{
    background-color: #F5F5F5;
}

.section{
    height: 100vh;
}

.button{
    border: none;
    display: inline-block;
    padding: 18px 41px;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    background-color: $red;
    color: white;
    border-radius: 100px;
    text-transform: uppercase; 
}

//setups
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap");





//components
@import "./components/_hero.scss";
@import "./components/_benefits.scss";
@import "./components/_reviews.scss";
@import "./components/_form.scss";




