//normalize
@import "./normalize.scss";

*,
*::after,
*::before{
	box-sizing: border-box;
}

//breackpoints
$tablets: 768px;
$mobile: 480px;

//colors

$red: #E01F3D;
$body: #666666;
$black: #292929;
$white: #fff;

$baseFontSize: 16px;

html{
    font-size: $baseFontSize;
}

a{
    text-decoration: none;
    color: black;
}

p{
    margin: 0px;
    padding: 0px;
}

.container{
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;

    &--flex{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }
}

ul{
    margin: 0px;
    padding: 0px;
}

li{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

h1, h2{
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.25rem;
    margin: 0px;
    padding: 0px;
}


input, label{
    display: block;
}

body{
    background-color: #F5F5F5;
}

.section{
    height: 100vh;
}

.button{
    border: none;
    display: inline-block;
    padding: 1.125rem 2.56rem;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.125rem;
    background-color: $red;
    color: white;
    border-radius: 100px;
    text-transform: uppercase; 
}

@media (max-width: 768px){
    .container{
        width: 95%;
    }
}

//setups
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap");





//components
@import "./components/_media.scss";
@import "./components/_layout.scss";
@import "./components/_hero.scss";
@import "./components/_benefits.scss";
@import "./components/_reviews.scss";
@import "./components/_form.scss";
@import "./components/_fixed-menu.scss";

