.benefits{
    background-color: white;
}

.container--benefits{
    position: relative;
}

.benefits__img{
    position: absolute;
}

.benefits__img--top{
    top: -1rem;
    right: 0px;
}

.benefits__img--bottom{
    bottom: -1rem;
    left: -3.125rem;
}

.title--benefits{
    text-transform: uppercase;
    text-align: center;
}

.small-text{
    width: 36.8rem;
    margin-left: auto;
    margin-right: auto;
    p{
        font-family: 'Play', sans-serif;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.125rem;
        text-align: center;
        color: $body;
    }
}

.benefits__list{
    margin-top: 3.75rem;
    display: flex;
}

.benefits__item{
    text-align: center;
    position: relative;
    padding: 0px 5.5%;

    &:first-child{
        padding-left: 0px;
    }

    &:last-child{
        padding-right: 0px;
    }

    &:before{
        content: url(../images/shape.png);
        position: absolute;
        top: 3.75rem;
        right: 0;
        transform: translateX(50%);
    }

    &:last-child::before{
        display: none;
    }
}

.benefit__header{
    background-color: #F2F5F4;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.benefit__title{
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.68rem;
    margin-bottom: 7px;
}

.benefit__text{
    width: 247px;
    p{
        color: #666666;
        font-family: 'Play', sans-serif;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.125rem;
    }
}