.benefits{
    background-color: white;
}

.container--benefits{
    position: relative;
}

.benefits__img{
    position: absolute;
}

.benefits__img--top{
    top: -15px;
    right: 0px;
}

.benefits__img--bottom{
    bottom: -15px;
    left: -50px;
}

.title--benefits{
    text-transform: uppercase;
    padding: 101px 0px 18px;
    text-align: center;
}

.small-text{
    width: 590px;
    margin-left: auto;
    margin-right: auto;
    p{
        font-family: 'Play', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: $body;
    }
}

.benefits__list{
    margin-top: 60px;
    padding-bottom: 100px;
    display: flex;
}

.benefits__item{
    text-align: center;
    position: relative;
    padding: 0px 5.5%;

    &:first-child{
        padding-left: 0px;
    }

    &:last-child{
        padding-right: 0px;
    }

    &:before{
        content: url(../../images/shape.png);
        position: absolute;
        top: 60px;
        right: 0;
        transform: translateX(50%);
    }

    &:last-child::before{
        display: none;
    }
}

.benefit__header{
    background-color: #F2F5F4;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.benefit__title{
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 7px;
}

.benefit__text{
    width: 247px;
    p{
        color: #666666;
        font-family: 'Play', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
    }
}