.colors{
    background: url('../../images/slider-bg.png') center center no-repeat;
    color: white;
    position: relative;
}

.container--colors{
    display: block;
}

.colors__list{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.colors__item{
    display: flex;
}



.colors__item-title{
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;

    &--gray{
        background: #999999;
    }

    &--black{
        background: black;
    }

    &--red{
        background: $red;
    }
}


.colors--title{
    text-transform: uppercase;
    margin-top: 115px;
}

.colors-title__text{
    color: white;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-bottom: 36px;
}

.colors__content-wrapper{
    overflow: hidden;
    width: 0px;
    transition: width .4s;
}

.colors__content{
    padding: 35px;
    background: rgba(51, 53, 55, .8);
    height: 100%;
    width: 100%;
}