.fixed-menu{
    position: fixed;
    top: 35%;
    right: 5%;
}

.fixed-menu__item{
    margin-bottom: 3px;
    &:last-child{
        margin: 0px;
    }

    &--active{
        .fixed-menu__link{
            border-color: $red;
            &:after{
                background-color: $red;
            }
        }
    }
}

.fixed-menu__link{
    display: block;
    width: 1.125rem;
    height: 1.125rem;
    border: 1px solid transparent;
    border-radius: 50%;
    position: relative;

    &:after{
        content: "";
        position: absolute;
        border-radius: 50%;
        background-color: $black;   
        width: 0.375rem;
        height: 0.375rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@include tablets {
    .fixed-menu{
        display: none;
    }
}

@include mobile {
    .fixed-menu{
        display: none;
    }
}

.light{

    .fixed-menu__link::after{
        background-color: white;
    }

    .fixed-menu__item--active{
        .fixed-menu__link{
            border-color: white;
            &:after{
                background-color: white;
            }
        }
    }
}