.send-form{
    background: #181818;
    color: white;
    padding: 68px 0px 85px;
}

.title--form{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

form{
    display: flex;
}

.form__half{
    flex: 1;
    margin-right: 26px;
    &:last-child{
        margin: 0;
    }
}

.form__row{
    display: flex;
    margin-bottom: 14px;
}

.form__field{
    flex: 1;
    margin-right: 14px;
    &:last-child{
        margin-right: 0;
    }
}

.form__input{
    width: 100%;
    border-radius: 4px;
    border: 3px solid transparent;
    padding: 18px 12px;
    box-sizing: border-box;

    &:focus{
        border-color: $red;
        outline: none;
    }
}

.form__input--textarea{
    height: 155px;
    margin-bottom: 26px;
    resize: none;
}

label{
    margin-bottom: 6px;
    font-family: 'Play', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.radio__list{
    display: flex;
    margin-bottom: 20px;
}

.radio__item{
    margin-right: 24px;
    &:last-child{
        margin: 0;
    }
}

.form__controls{
    display: flex;
}

.form_check{
    display: flex;
}

.radio{
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    &--checkbox{
        .radio__visible{
            border-radius: 4px;

            &:before{
                background: url(../../images/checkmark.png) center center no-repeat;
            }
        }
    }
}

.radio__elem{
    display: none;

    &:checked ~ .radio__visible{
        &::before{
            display: block;
        }
    }
}

.radio__visible{
    width: 25px;
    height: 25px;
    position: relative;
    border-radius: 50%;
    background: white;
    margin-right: 10px;

    &::before{
        content: '';
        width: 13px;
        height: 13px;
        background: $red;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }
}

.button--clear{
    text-transform: none;
    font-family: 'Play', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    background: none;
    padding: 15px 15px;
}

.button--form{
    margin-top: 64px;
}