.header{
    margin-top: 1.5rem;
    position: absolute;
    right: 0;
    left: 0;
}

.container--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.menu__list{
    display: flex;
}

.menu__item{
    margin-right: 1.68rem;

    :last-child{
        margin-right: 0px;
    }
}

.menu__link{
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.25rem;
}

.contacts{
    align-items: center;
    display: flex;
    align-items: flex-end;
    
    &--footer{
        margin: 20px 0px;
    }  

    &__phone{
        display: flex;
        align-items: flex-end;
    }
}

.phone-icon--footer{
    @include tablets{
        fill: $red;
    }

    @include mobile{
        fill: black ;
    }
}

.contacts__number{
    font-family: 'Play', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-style: normal;
    margin-left: rem(6px);
}

.menu__burger{
    display: none;
}

.container--hero{
    background: url(../images/hero_img.png) top 7rem right no-repeat;
}

.hero__title{
    width: 25rem;
    padding: 6rem 0px 1.37rem;
    text-transform: uppercase;
}

.hero__subtitle{
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.56rem;
    width: 20rem;
}

.button--hero{
    margin: 3.37rem 0px 5.5rem;
}

.pros__list{
    display: flex;
}

.pros__item{
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    :last-child{
        margin-right: 0px;
    }
}

.pros__text{
    width: 7.125rem;
    margin-left: 0.68rem;
    font-family: 'Play', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.125rem;
}



@include tablets{
    .menu{
        display: none;
    }

    .contacts{
        display: none;
    }

    .menu__burger{
        display: block;
    }

    .container--hero{
        background: none;
        text-align: center;
        align-items: center;
    }
    
    .pros__list{
        display: none;
    }

    .hero__title{
        width: 76%;

        &:before{
            content: url(../images/hero_img-small.png);
        }
    }

    
}

@include mobile{
    .menu{
        display: none;
    }

    .contacts{
        display: none;
    }

    .menu__burger{
        display: block;
    }

    .container--hero{
        background: none;
        text-align: center;
        align-items: center;
    }

    .pros__list{
        display: none;
    }

    .hero__title{
        font-size: rem(27px);
        width: 75%;

        &:before{
            content: '';
            background: url(../images/hero_img-small.png) center center no-repeat;
            background-size: contain;
            width: 100%;
            height: 70vw;
            display: block;
        }
    }
}

