.header{
    margin-top: 1.5rem;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list{
    display: flex;
}

.menu__item{
    margin-right: 1.68rem;

    :last-child{
        margin-right: 0px;
    }
}

.menu__link{
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.25rem;
}

.contacts{
    display: flex;
    align-items: center;
}

.contacts__number{
    font-family: 'Play', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-style: normal;
    margin-left: 0.3rem;
}

.container--hero{
    background: url(../images/hero_img.png) top 3rem right no-repeat;
    /*comment*/
}

.hero__title{
    width: 25rem;
    padding: 6rem 0px 1.37rem;
    text-transform: uppercase;
}

.hero__subtitle{
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.56rem;
    width: 20rem;
}

.button--hero{
    margin: 3.37rem 0px 5.5rem;
}

.pros__list{
    display: flex;
    padding-bottom: 4rem;
}

.pros__item{
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    :last-child{
        margin-right: 0px;
    }
}

.pros__text{
    width: 7.125rem;
    margin-left: 0.68rem;
    font-family: 'Play', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.125rem;
}
