.reviews{
    background: white;
}

.title--reviews{
    text-transform: uppercase;
    text-align: center;
}

.reviews__card{
    padding: 2.62rem;
    background: #F8FAF9;
    display: flex;
    align-items: center;
    margin: 2rem 0px 1rem;
    position: relative;
    overflow: hidden;

    &:after{
        content: '';
        display: block;
        width: 5rem;
        height: 5rem;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        left: calc(50% - 40px);
        top: -3.75rem;
    }

    @include tablets {
        flex-direction: column;
        padding: rem(56px) rem(24px) rem(37px);
    }

    @include mobile {
        flex-direction: column;
        padding: rem(56px) rem(24px) rem(37px);
        &:after{
            display: none;
        }
    }
}

.card__img{
    @include tablets{
        width: 130px;
        height: 130px;
    }
}

.card__content{
    margin-left: 2.375rem;

    @include tablets{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: rem(32px);
        margin-left: 0;
        text-align: center;
    }
}

.card__title{
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.68rem;
}

.card__text{
    margin: 1.68rem 0px 2rem;
    p{
        font-family: 'Play', sans-serif;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.125rem;
        color: $body;
    }
}

.card__name{
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.25rem;
}

.rewiews__pager{
    display: flex;
    justify-content: center;
}

.pager__list{
    display: flex;
    align-items: center;
}

.pager__item{
    margin-right: 6px;
    :last-child{
        margin-right: 0px;
    }
}

.pager__item--active{
    .pager__img{
        border: $red solid 4px;
    }
}

.pager__img{
    border-radius: 50%;
    width: 74px;   
    height: 74px;
    border: transparent solid 4px;

    &:hover{
        border-color: $red;
    }
}