.socials{
    display: flex;
}

.socials__item{
    display: block;
    margin-right: 10px;
    &:last-child{
        margin-right: 0;
    }

    @include mobile{
        margin-right: 14px;
    }
}

.socials__link{
    display: block;
    text-decoration: none;
    width: 30px;
    height: 30px;

    @include mobile{
        height: 24px;
        width: 24px;
    }
}



.socials__svg{
    fill: #B3B3B3;
    transition: .5s;
    &:hover{
        fill:black;
    }
}